* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;

  .page {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    nav {
      ul {
        font-weight: 800;
      }
    }
    .section.first {
      padding-bottom: 0.8rem;

      img {
        height: 30vh;
        width: 90vw;
        padding-bottom: 0.4rem;
      }

      h1 {
        font-weight: 700;
        font-size: 2.4rem;
        padding-bottom: 0.4rem;
      }

      p {
        padding-bottom: 0.4rem;
      }

      button {
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        width: 50vw;
        font-size: 15px;
        background: hsl(5, 85%, 63%);
        color: white;
        font-weight: bold;
        letter-spacing: 2px;
        border: none;
      }
    }
    .section.second {
      padding-bottom: 1rem;
      .card {
        width: 82vw;
        height: 60vh;
        padding: 1rem;
        background-color: hsl(240, 100%, 5%);
        .card-title {
          h1 {
            color: hsl(35, 77%, 62%);
          }
        }
        .card-content {
          padding: auto;
          .accordion:last-child {
            border-bottom: none;
          }
          .accordion {
            border-bottom: hsl(233, 8%, 79%) 0.2px solid;
            padding-bottom: 1rem;
            padding-top: 1rem;

            h2 {
              color: white;
            }

            p {
              color: hsl(233, 8%, 79%);
            }
          }
        }
      }
    }
    .section.third {
      .image-container {
        position: relative;

        .image-content {
          display: flex;
          padding: 0.2rem;
          padding-bottom: 2.4rem;
          align-items: center;

          .image-text {
            flex-grow: 1;

            h1 {
              color: hsl(233, 8%, 79%);
              font-size: 2.4rem;
            }

            h2 {
              font-size: 1.2rem;
            }

            p {
              color: hsl(236, 13%, 42%);
              font-size: 16px;
            }
          }

          img {
            width: 25vw;
            margin-right: 20px;
          }
        }
      }
    }
  }
}
