* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

body {
  height: 100vh;
  width: 100vw;

  .page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    .page-top {
      display: flex;
      justify-content: space-between;
      padding-bottom: 1rem;
    }
    #menu {
      display: none;
      position: absolute;
      margin: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background: white;
      height: 100%;
      width: 80vw;
      z-index: 1;
      font-weight: 800;
      box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
      transition: width 0.2s linear;
      padding: 15px;

      img {
        padding-top: 0.8rem;
        padding-left: 14.8rem;
        padding-bottom: 8rem;
        display: block;
        height: auto;
      }

      ul {
        list-style-type: none;
        li {
          span {
            a {
              position: relative;
              display: table;
              width: 300px;
              padding: 0.6rem;
              color: hsl(236, 13%, 42%);
            }
          }
        }
      }
    }
    #menu.show {
      display: block;
    }

    .section.first {
      padding-bottom: 0.8rem;
      img {
        content: url("assets/images/image-web-3-mobile.jpg");
        width: 80vw;
        height: 30vh;
      }

      h1 {
        font-weight: 700;
        font-size: 2.4rem;
        padding-bottom: 0.4rem;
      }

      p {
        padding-bottom: 0.4rem;
      }

      button {
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        width: 50vw;
        font-size: 15px;
        background: hsl(5, 85%, 63%);
        color: white;
        font-weight: bold;
        letter-spacing: 2px;
        border: none;
      }
    }
    .section.second {
      padding-bottom: 1rem;
      .card {
        width: 90%;
        height: 100%;
        padding: 1rem;
        background-color: hsl(240, 100%, 5%);
        .card-title {
          h1 {
            color: hsl(35, 77%, 62%);
          }
        }
        .card-content {
          padding: auto;
          .accordion:last-child {
            border-bottom: none;
          }
          .accordion {
            border-bottom: hsl(233, 8%, 79%) 0.2px solid;
            padding-bottom: 1rem;
            padding-top: 1rem;

            h2 {
              color: white;
            }

            p {
              color: hsl(233, 8%, 79%);
            }
          }
        }
      }
    }
    .section.third {
      .image-container {
        position: relative;

        .image-content {
          display: flex;
          padding: 0.2rem;
          padding-bottom: 2.4rem;
          align-items: center;

          .image-text {
            flex-grow: 1;

            h1 {
              color: hsl(233, 8%, 79%);
              font-size: 2.4rem;
            }

            h2 {
              font-size: 1.2rem;
            }

            p {
              color: hsl(236, 13%, 42%);
              font-size: 16px;
            }
          }

          img {
            width: 25vw;
            margin-right: 20px;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  body {
    max-height: 100vh;
    max-width: 100vw;
    padding: 1.4rem;
    .page {
      max-height: 100%; /* Adjust page height for bigger screens */
      max-width: 100%; /* Adjust page width for bigger screens */
      padding: 2rem; /* Adjust padding for bigger screens */
      flex-direction: row;
      flex-wrap: wrap;

      .page-top {
        display: flex;
        margin-right: 100vw;
        justify-content: space-between;
      }
    }

    #menu {
      max-width: 25vw; /* Adjust menu width for bigger screens */
    }
    .section.first {
      display: flex;
      flex-wrap: wrap;
      max-width: 70%;
      padding: 0;
      margin: 0;
      order: 1;
      flex-grow: 1;
      .content {
        order: 3;
      }
    }
    .section.first img {
      content: url("assets/images/image-web-3-desktop.jpg");
      max-width: 70%;
      margin-top: 4rem;
      margin-right: 4rem;
      order: 1;
    }
    .section.first h1 {
      order: 2;
    }

    .section.first button {
      order: 4;
    }
    .section.second {
      display: flex;
      order: 2;
      flex-grow: 1;
      max-width: 30%;
      padding-top: 2rem;
      margin-left: 0;
      padding-left: 0;
    }

    .section.first button {
      max-width: 30%; /* Adjust button width for bigger screens */
    }

    .section.second .card {
      max-width: 100%;
      max-height: 90%;
      margin-top: 1rem;

      h2 {
        font-size: 25px;
      }
      p {
        font-size: 20px;
      }
      /* Adjust card width for bigger screens */
    }

    .section.third {
      display: flex;
      order: 3;
      flex-grow: 1;
      flex-direction: row;
    }

    .section.third .image-container {
    }
  }
}
