* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  list-style: none;
}
body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;

  .blurry.shown {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.645); /* Black with 20% opacity */
    filter: blur(10px);
    z-index: 0;
  }
  .page {
    margin-top: 1rem;
    height: 80vh;
    width: 90vw;
    position: relative;
    padding: 1rem;
    nav {
      display: flex;
      justify-content: space-between;
      padding-bottom: 1rem;
      padding-top: 1rem;
      img {
        height: 2.4rem;
      }

      #open {
        cursor: pointer;
        height: 1.24rem;
      }
    }
    .list {
      position: absolute;
      top: 0;
      right: 0;
      height: 100vh;
      background: white;
      width: 200px;
      transform: translateX(200px);
      transition: ease-out 0.3s;
      z-index: 10;
      ul {
        color: hsl(236, 13%, 42%);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-top: 4.8rem;
        padding-left: 2.4rem;
      }
      li {
        cursor: pointer;
      }
      li:active {
        color: hsl(5, 85%, 63%);
      }
      img {
        position: absolute;
        right: 1.2rem;
        top: 1.2rem;
      }
    }

    .list.shown {
      transform: translateX(0px);
      transition: ease-in 0.3s;
      z-index: 10;
    }
    .main {
      padding-top: 1rem;
      padding-bottom: 1rem;
      img {
        height: 40vh;
        width: 100%;
      }
      .content {
        h1 {
          font-weight: 800;
          font-size: 2rem;
        }
        .paragraph {
          p {
            font-weight: 400;
            font-size: 1rem;
            margin-bottom: 2rem;
          }
          button {
            height: 2.4rem;
            width: 50vw;
            background-color: hsl(5, 85%, 63%);
            border: none;
            color: white;
            font-weight: 600;
            letter-spacing: 0.2rem;
            cursor: pointer;
          }
          button:active {
            background-color: hsl(240, 100%, 5%);
          }
        }
      }
    }
    .new-articles {
      padding-top: 2.4rem;
      padding-bottom: 2.8rem;
      height: 60vh;
      .card {
        height: 100%;
        background-color: hsl(240, 100%, 5%);
        color: white;
        padding: 1rem;
        .card-title {
          color: hsl(35, 77%, 62%);
          padding-bottom: 1rem;
          h1 {
            font-size: 2.4rem;
          }
        }
        section {
          border-bottom: white solid 1px;
          margin-bottom: 4rem;

          a {
            padding-top: 2rem;
            font-size: 1.4rem;
            font-weight: 600;
            padding-bottom: 1rem;
            cursor: pointer;
          }
          a:active {
            color: hsl(35, 77%, 62%);
          }
          p {
            color: hsl(233, 8%, 79%);
            padding: 1rem;
          }
        }
      }
      section:last-child {
        border-bottom: none;
      }
    }
    .other-articles {
      height: 60vh;
      padding-top: 2.4rem;
      .image-container {
        display: flex;
        flex-direction: row;
        padding-bottom: 1rem;
        gap: 1rem;

        h1 {
          color: hsl(233, 8%, 79%);
          font-size: 2.4rem;
        }
        a {
          color: black;
          font-size: 1.2rem;
          font-weight: 600;
          cursor: pointer;
        }
        a:active {
          color: hsl(5, 85%, 63%);
        }
        p {
          font-weight: 400;
          color: hsl(236, 13%, 42%);
        }
      }
    }
  }
}
